.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    z-index: 999;
}

.header__left {
    display: flex;
}

.header__left > img {
    /* keep same aspect ratio when changing resizing image */
    object-fit: contain;
    height: 40px;
    margin-right: 20px;
}

.header__left > img:hover {
    cursor: pointer;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
}

.header__right{
    display: flex;
    justify-content: space-around;

}

