.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    cursor: pointer;
    padding-right: 25px;
}

.headerOption:hover {
    color: black;
}

.headerOption__title {
    font-size: 14px;
    font-weight: 500;
}

.headerOption__icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}