
.inputOptions {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;

}

.inputOptions:hover {
    color: black;
    border-radius: 10px;
}